

<html>



<head>

    <title>Contact Us</title>

    {% load static %}

    <link href="{% static 'acc\css1/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" type="image/png" href="{% static 'acc\images/favicon.png' %}">
    <!-- bootstrap-CSS -->

    <link href="{% static 'acc\css1/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />

    <!-- Fontawesome-CSS -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script type='text/javascript' src="{% static 'acc\js1/jquery-2.2.3.min.js' %}"></script>

    <!-- Custom Theme files -->

    <!--theme-style-->

    <!--Footer CSS-->

    <link href="{% static 'acc\css4/footer1.css' %}" rel="stylesheet" type="text/css" media="all" />

    <!--Footer CSS-->

    <link href="{% static 'acc\css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />

    <link href="{% static 'acc\css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

    <!--//theme-style-->

    <!-- metatags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Website Name Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

    <script type="application/x-javascript">

        addEventListener("load", function() {

            setTimeout(hideURLbar, 0);

        }, false);



        function hideURLbar() {

            window.scrollTo(0, 1);

        }

    </script>

    <!-- //metatags -->

    <!-- online fonts -->

    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- /online fonts -->



</head>

<!-- /head -->

<!-- body -->



<body>

    <!--header-->

    <div class="">

        <div class="header">

            <div class="logo">

                <h1><a href="../home/" style="color: white;"><img src="{% static 'acc\images/payeaze.png' %}" style="height: 40px; padding-left: 30px; padding-top: 1px;"></a></h1>

            </div>

            <div class="top-nav" style="float:right;margin-right:10px;">

                <span class="menu"><i class="fa fa-bars" aria-hidden="true"></i></span>

                <ul class="nav1" style="float:right;margin-right:10px;">

                    <!-- <li><a href="contact.html">Contact</a></li> -->

                    <li><a href=#>Hi, {{user.email}}</a></li>
                    <li><a href="../home/">Home</a></li>
                    <li><a href="../orders/">Reports</a></li>
                    <li><a href="../logout/">Logout</a></li>



                </ul>

                <script>

                    $("span.menu").click(function() {

                        $("ul.nav1").slideToggle(300, function() {});

                    });

                </script>

            </div>

            <div class="clearfix"> </div>

        </div>

    </div>



    <!-- //header -->



    <!-- innerbanner -->

    <div class="agileits-inner-banner">



    </div>

    <!-- //innerbanner -->



    <!-- breadcrumbs -->

    <div class="w3layouts-breadcrumbs text-center">

        <div class="container">

            <span class="agile-breadcrumbs"><a href="../"><i class="fa fa-home home_1"></i></a> / <span>Contact</span></span>

        </div>

    </div>

    <!-- //breadcrumbs -->

    <!-- Contact-page -->

    <!--contact-->

    <div class="contact-section w3layouts-content">

        <div class="container">

            <h3 class="w3-head">Contact Us</h3>

            <div class="contact-main">

                <div class="col-md-6 map">

                    <p class="loc">Our Location</p>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54870.46452402445!2d76.72850953795131!3d30.73515052462736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed0be66ec96b%3A0xa5ff67f9527319fe!2sChandigarh!5e0!3m2!1sen!2sin!4v1599063931194!5m2!1sen!2sin"

                        style="border:0" allowfullscreen></iframe>

                </div>

                <div class="col-md-6 contact-in">

                    <p class="sed-para"> Contact Information</p>

                    <p class="para1">For Queries and details, Get in touch with us:</p>

                    <div class="more-address">

                        <address>

								  <strong>Address</strong><br>

								  Sector 13, <br>

								   Chandigarh,<br>	

                                    160017<br>

                                    India<br>

								  <abbr title="Phone">M:</abbr> +919999999999, +919999999999		

								  </address>

                        <address>

								  <strong>Email</strong><br>

								  <a href="mailto:icsathlone@gmail.com">contact@websitename.com</a>

							   </address>

                    </div>

                </div>

                <div class="clearfix"> </div>

            </div>



        </div>

    </div>

    <!--//contact-->

    <!-- //Contact-page -->

    <!-- <div class="footer">

        <div class="container">

            <h2><a href="index-2.html">Website Name</a></h2>

            <p>© 2020 | All Rights Reserved | Design by <a href="#" target="_blank">CEP</a></p>

            <ul>

                <li>

                    <a class="face1" href="#"></a>

                </li>

                <li>

                    <a class="face2" href="#"></a>

                </li>

                <li>

                    <a class="face3" href="#"></a>

                </li>

                <li>

                    <a class="face4" href="#"></a>

                </li>

            </ul>

        </div>

    </div> -->

      <!-- Site footer -->
      <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="{% static 'acc\images/payeaze.png' %}" style="height: 150px; padding-left: 70px; padding-bottom: 30px;">
                </div>   
      
                <div class="col-xs-6 col-md-3" style="padding-right: 80px;">
                  <h6>Quick Links</h6>
                  <ul class="footer-links">
                    <!--<li><a href="#">About Us</a></li>-->
                    <li><a href="../contact/">Contact Us</a></li>
                    <li><a href="../recharge/">Recharge</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <hr>
            </div>
            <div class="container">
              <!-- <center><div class="row"> -->
                <!-- <div class="col-md-8 col-sm-6 col-xs-12"> -->
                  <center><p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
               <a href="https://www.code-e-python.com">CeP</a>.
                  </p></center>
                <!-- </div> -->
      
                
              <!-- </div></center> -->
            </div>
      </footer>

    <!-- for bootstrap working -->

    <script src="{% static 'acc\js1/bootstrap.js' %}"></script>

    <!-- //for bootstrap working -->

    <!-- here stars scrolling icon -->

    <script type="text/javascript">

        $(document).ready(function() {

            /*

            	var defaults = {

            	containerID: 'toTop', // fading element id

            	containerHoverID: 'toTopHover', // fading element hover id

            	scrollSpeed: 1200,

            	easingType: 'linear' 

            	};

            */



            $().UItoTop({

                easingType: 'easeOutQuart'

            });



        });

    </script>

    <!-- start-smoth-scrolling -->

    <script type="text/javascript" src="{% static 'acc\js1/move-top.js' %}"></script>

    <script type="text/javascript" src="{% static 'acc\js1/easing.js' %}"></script>

    <script type="text/javascript">

        jQuery(document).ready(function($) {

            $(".scroll").click(function(event) {

                event.preventDefault();

                $('html,body').animate({

                    scrollTop: $(this.hash).offset().top

                }, 1000);

            });

        });

    </script>

    <!-- start-smoth-scrolling -->

    <!-- //here ends scrolling icon -->

</body>

<!-- /body -->



</html>

<!-- /html -->